<section class="col-md-4 p-3 bg-dark text-white " id="intro1"></section>
<script>
const response = await fetch(`data/home.json`);
const data = await response.json();
document.getElementById('intro1').innerHTML = `
<img class="img-fluid rounded" alt="${data.intro1}" src="${data.cover1}"/>
<div class="p-3">
<h3><a href="/" class="text-white">${data.intro1}</a></h3>
<p>${data.conintro1}</p>
</div>
`;
</script>