<section class="col-md-6 p-3 bg-dark text-white " id="intro5"></section>
<script>
const response = await fetch(`data/home.json`);
const data = await response.json();
document.getElementById('intro5').innerHTML = `
<div class="row">
<div class="col-md-4">
<img class="img-fluid rounded" alt="${data.intro5}" src="${data.cover5}"/>
</div>
<div class="p-3 col-md-8">
<h3><a href="/" class="text-white">${data.intro5}</a></h3>
<p>${data.conintro5}</p>
</div>
</div>
`;
</script>