<section class="col-md-4 p-3 bg-dark border text-white border-white rounded" id="pos3"></section>
<script>
const response = await fetch(`data/home.json`);
const data = await response.json();
document.getElementById('pos3').innerHTML = `
<img width="100%" class="img-fluid rounded" alt="${data.introtitle}" src="${data.coverpos3}"/>
<div class="p-3">
<h3><a href="/" class="text-white">${data.pos3}</a></h3>
<p>${data.spekpos3}</p>
</div>
`;
</script>