<div class="col-12 bg-dark text-white text-center mt-3 border-top">
<p>Build with <a class="text-white" href="https://astro.build">astro</a> present by <a class="text-white" href="https://website.axcora.com">axcora</a></p>
</div>