<div class="col-12 bg-dark text-white text-center mt-3 border-top">
<p>Build with <a class="text-white" href="https://astro.build">astro</a>  
<a href="https://github.com/mesinkasir/astro-landingpage-bang" class="text-white">Repo</a> on <a href="https://github.com" class="text-white">github</a> Powered by <a class="text-white" href="https://vercel.com">vercel</a>  present by <a class="text-white" href="https://website.axcora.com">axcora</a>
</p>
</div>