---
import Navi from '../widget/nav/Navi.astro';
import SEO from '../widget/SEO/google.astro';
import Style from '../widget/SEO/style.astro';
import Head from '../pages/home/head.astro';
import Intro from '../pages/home/intro.astro';
import Intro1 from '../pages/home/intro1.astro';
import Intro2 from '../pages/home/intro2.astro';
import Intro3 from '../pages/home/intro3.astro';
import Intro4 from '../pages/home/intro4.astro';
import Intro5 from '../pages/home/intro5.astro';
import Intro6 from '../pages/home/intro6.astro';
import Intro7 from '../pages/home/intro7.astro';
import Intro8 from '../pages/home/intro8.astro';
import Intro9 from '../pages/home/intro9.astro';
import Pos1 from '../pages/home/pos1.astro';
import Pos2 from '../pages/home/pos2.astro';
import Pos3 from '../pages/home/pos3.astro';
import Pos4 from '../pages/home/pos4.astro';
import Pos5 from '../pages/home/pos5.astro';
import Contact from '../pages/home/info.astro';
import Footer from '../widget/foot/foot.astro';
---
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<SEO/><Style/></head>
<body class="bg-dark"><div class="container-fluid"><div class="row">
<Head/><Navi/>
<Intro/><Intro1/><Intro2/><Intro3/><Intro4/><Intro5/><Intro6/><Intro7/><Intro8/><Intro9/>
<Pos1/><Pos2/><Pos3/><Pos4/><Pos5/>
<Contact/></div></div><Footer/></body>
</html>